
@font-face {
  font-family: 'Cuprum-Regular';
          src: url('../../fonts/cuprum-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Cuprum-Bold';
          src: url('../../fonts/cuprum-bold.ttf') format('truetype');
}
