.about-header {
  background: linear-gradient(
        rgba(57, 153, 198, 0.4),
        rgba(240, 240, 240, 0.3)
      ),
    url("../../images/path2.jpg") no-repeat fixed top;
  background-size: 130%;
  @media (min-width: $screen-xs-min) {
    background: linear-gradient(
          rgba(57, 198, 64, 0.3),
          rgba(30, 30, 30, 0.3)
        ),url("../../images/path.png") no-repeat fixed center;
    height: 400px;
  }
}

.about-img {
  height: 300px;
  position: relative;
  z-index: 3;
  img {
    width: 100%;
  }
}

.about-paralax-1, .about-paralax-2, .about-paralax-3 {
  height: 100%;
  @media (min-width: $screen-xs-min) {
    background-attachment: fixed;
    background-size: cover;
  }
}

.about-paralax-1 {
  background: url("../../images/code-bg.jpg") no-repeat;
  background-size: 200% auto;
}

.about-paralax-2 {
  background: url("../../images/lightbulb-bg.jpg") no-repeat;
  background-size: 150% auto;
}

.about-paralax-3 {
  background: url("../../images/doorbell-bg.jpg") no-repeat;
  background-size: 150% auto;
}

.attach {
  position: fixed;
  top: 0;
}

.margin-adjust {
  margin-top: 350px;
  @media (min-width: $screen-xs-min) {
    margin-top: 500px;
  }
}

.blurb-box {
  background: white;
  height: 350px;
  padding-top: 75px;
  @media (min-width: $screen-xs-min) {
    height: 500px;
    padding-top: 150px;
  }
}
