.home-header {
  margin-top: 50px;
  background: url("../../images/pano-bg1-sm.jpg") no-repeat fixed bottom;
  background-size: auto 100%;
  height: 300px;
  text-align: center;
  z-index: 0;
  @media (min-width: $screen-xs-min) {
    background: url("../../images/pano-bg1.jpg") no-repeat fixed center;
    height: 600px;
    margin-top: 80px;
  }
  @media (min-width: $screen-sm-min) {
    margin-top: 100px;
    padding-top: 25px;
  }
}

.homepage-header {
  @include vertical-bot;
  height: 80px;
}

.skill-icons {
  margin-top: 20px;
  img {
  max-width: 145px;
  }
}
